<nav class="top-menu">
  <ul class="menu-main"> 
  <form name="TopMenu" method="get">
	<li><a href="/FindActorsAsDirector" class="current">Find an actor who worked as a director</a></li> 
	<li><a href="/FindFilmsForCurrentAndPreviousYear">Find movies of this and previous years</a></li>
	<li><a href="/DeleteFilmsOlderGivenYears">Erase movies older than the entered year</a></li>
	<li><a href="/FindActorsForFilm">Find actors from this film</a></li>
	<li><a href="/FindActorsForNFilms">Find actors starring in N films</a></li>	
	</form>
  </ul>
</nav>
