<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br>
<br>
<h4>Система предлагает слово: </h4>
<p th:text="${citySuggestedSystem}"/> 
<br>
<br>
<h1>Введите ваше слово: </h1>
<br>
<h6> </h6>
<form action="next"  method="get">
<input type="text" th:value="${word}" name="word" placeholder="Введите слово" 
 pattern="^[А-Яа-яЁё\s]{3,}" class ="form-control"  title= "Кирилицей, начинается на последнюю букву, больше 2х букв." required />
<br>
<button type="submit" class="btn btn-success">Ввод</button>
</form>
<br><br>

<a th:if="${errorMessage != null}"> 
<p th:text="${errorMessage}" />
</a>
<br><br>

<form action="end" method="post" >
<button type="submit" class="btn btn-success">Выход</button>
</form>

</body>
</html>