<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<br><br>
<p th:text="${errorMessage}" />
<br>
<br>
<div style="display:flex;justify-content:center;align-items:center; margin-top: 20%">
<form th:action="begin" method="get" >
<button type="submit" class="btn btn-success">Начать с начала</button>
</form>
</div>
</body>
</html>