<%@ page contentType="text/html; charset=UTF-8" %>
<div class='menu'>
		<br />
		<form action="../addNoteServlet">
			<input type="submit" name="addNote" value="+ Добавить запись"
				style="width: 300px" onclick="addNote()" class="button" /><br />
		</form>

		<form action="../AddRabbitServlet">
			<input type="submit" name="addRabbit" value="+ Добавить кролика(-ов)"
				style="width: 300px" class="button" /> <br />
		</form>
		<br />
		<form action="../addKomboServlet">
			<input type="submit" name="addRabbit" value="+Выводок+Забой(4мес)+Новая вязка(1мес)"
				style="width: 300px" class="button" /> <br />
		</form>

		<br />
		
			<form action="../scrinServlet" method="post">
			<input type="submit" name="refresh" value=" Сделать снимок экрана"
				style="width: 500px;" class="button" />
		</form>
	</div>