<%@ page contentType="text/html; charset=UTF-8" %>
	<div class='delsomethingJSP'>
		<h3>Если удалить кролика из базы данных.</h3>
		<h3>Будут удалены все записи и история кролика</h3>
		<h3> Восстановить его будет невозможно.</h3>
		<form name="Form2" method="post" action="../delRabbitServlet">
			<input name="name" placeholder="Имя кролика" size="25"><br />
			<br /> <br /> <input type="submit" name="Go"
				value="    Удалить  " class="button"> <br /> <br />
		</form>
		<br /> ${errorMessage}
	</div>