<%@ page contentType="text/html; charset=UTF-8" %>
<div class='addsomethingJSP'>

	<h2>Личное дело кролика:</h2>

	<h3>${name}</h3>
	<c:forEach var="note" items="${listDataRabbit}">
		<br> ${note} 
    </c:forEach>

   <c:if test = "${not empty listDataRabbit}">
   <form name="Form3" method="post" action="../personDiaryServlet">
		<input name="text" placeholder="Добавить запись" size="50"><br />
		<br /> <br /> <input type="submit" name="Go" value=" Добавить  " class="button" >
		<br /> <br />
	</form>
	</c:if>
	</div>