<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container  mt-5">
<h1>Добавление статьи</h1>
<form action"/blog/add" method="post">
<input type="text" name="title" placeholder="Введите название статьи" class ="form-control"><br>
<input type="text" name="anons" placeholder="Введите анонс статьи" class ="form-control"><br>
<textarea name="full_text" placeholder="Введите полный текст статьи" class ="form-control"></textarea><br>
<button type="submit" class="btn btn-success">Добавить статью</button>
</form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>