<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container  mt-5">
<h1>Блог сайта</h1>
<div th:each="el : ${posts}" class="allert allert-info mt-2">
<h3 th:text="${el.title}"/>
<h3 th:text="${el.anons}"/>
<a th:href="'/blog/'+${el.id}" class="btn btn-warning">Детальнее</a>
</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>