<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container  mt-5">
<div th:each="el : ${post}" class="allert allert-info mt-2">
<h1 th:text="${el.title}"/>
<p th:text="${el.full_text}"/>
<p><b>Просмотры:</b><span th:text="${el.views}"/></p>
<a th:href="'/blog/'+${el.id}+'/edit'" class="btn btn-warning">Редактировать</a>

<form th:action="'/blog/'+${el.id}+'/remove'" method="post">
<button class="btn btn-warning" type="submit">Удалить</button>
</form>
</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>