<%--=========================================================================== 
--                              Footer (bottom area). 
===========================================================================--%>
<!-- button select language-->

	<div class="footer">
		<form>
			<select id="language" name="language" onchange="submit()">
				<option value="en" ${language == 'en' ? 'selected' : ''}>English</option>
				<option value="ru" ${language == 'ru' ? 'selected' : ''}>Russian</option>
			</select>
		</form>
	</div>
		<br>
	<br>
	<p>
	
	<!--show count users from listener-->
		<fmt:message key="login.label.visitorsToday" />${sessionScope.countVisitors}</p>